<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <nav>
        <ul class='nav__menu'>
            <a href="{% url 'books' %}">Книги</a>
            <a href="{% url 'p_library:author' %}">Авторы</a>
            <a href="{% url 'publish' %}">Издательства</a>


            {% if user.username  %}
            <a href="{% url 'add-book' %}">Добавить книгу</a>

            {% else %}
            <div class="login-grp">Для добавления книги надо <a href="{% url 'p_library:login' %}">Войти</a></div>

            {% endif %}

        </ul>
    </nav>
    <div class="welcome">
        Hi {{user}}.

        {% if  user.username %}
        <a href="{% url 'p_library:profile' %}">Профиль</a>
        <a href="{% url 'p_library:logout' %}">Выйти</a>


        {% endif %}
    </div>
    <div>


        {% block content %}
        {% endblock %}
    </div>
</body>

</html>